<!--pet-new-->
<!-- {{ petForm.value | json }} -->
<div class="container">
  <!-- <h2 class="display-2 my-3">New issue</h2> -->

  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
    <div class="form-group" >
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Name"
        required
        formControlName="name"
        [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
        [class.is-valid]="name.valid"
      />
      <div class="invalid-feedback">Please provide a title!</div>
    </div>

    <div class="form-group">
      <label for="species">Species</label>
      <input
        type="text"
        class="form-control"
        id="species"
        required
        [class.is-invalid]="species.invalid && (species.dirty || species.touched)"
        [class.is-valid]="species.valid"
        formControlName="species"
      />
    </div>

    <div class="form-group">
      <label for="birth">Date of birth</label>
      <input
        type="text"
        class="form-control"
        id="birth"
        required
        formControlName="birth"
        [class.is-invalid]="birth.invalid && (birth.dirty || birth.touched)"
        [class.is-valid]="birth.valid"
      />
    </div>

    <div class="form-group">
      <label for="death">Date of death</label>
      <input
        type="text"
        class="form-control"
        id="death"
        formControlName="death"
      />
    </div>

    <div class="form-group">
      <label for="note">Note</label>
      <textarea
        class="form-control"
        id="note"
        rows="2"
        formControlName="note"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select
        class="form-control"
        id="status"
        required
        formControlName="status"
        [class.is-invalid]="status.invalid && (status.dirty || status.touched)"
        [class.is-valid]="status.valid"
      >
        <option value="LIVING">Living</option>
        <option value="DEAD">Dead</option>
      </select>
      <div class="invalid-feedback">Please provide a status!</div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="petForm.invalid">Submit</button>
  </form>
</div>
